*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}
body {
  position: relative;
}
.flex {
  display: flex;
}

nav {
  .nav-wrapper {
    margin: 45px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-desktop {
    display: none;
  }
  .nav-desktop .active {
    display: none;
    display: flex;
    gap: 1rem;

    list-style: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-mobile.active {
    display: block;
    position: absolute;
    top: 103px;
    display: flex;
    justify-content: center;
    padding-block: 40px;
    background-color: white;
    // width: 325px;
    width: 90%;
    height: 291px;
    box-shadow: 0px 10px 20px rgba(80, 86, 98, 0.03);
    border-radius: 4px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      list-style: none;
      font-weight: bold;
    }
  }
}
body.active {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0.33%,
    rgba(0, 0, 0, 0.599049) 99.79%
  );
}

.burger-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  outline: 0;
  border: 0;
  .burger-bars,
  .burger-bars:after,
  .burger-bars::before {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 50px;
  }
  .burger-bars:after,
  .burger-bars::before {
    content: "";
    position: absolute;
    left: 0;
    transition: transform ease-in-out 220ms;
  }
  .burger-bars:after {
    transform: translateY(-6px);
  }
  .burger-bars::before {
    transform: translateY(6px);
  }
  // Animations
  .burger-bars.active {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .burger-bars.active::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .burger-bars.active::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ilustration-intro {
  content: url(/images/illustration-intro.svg);
  max-width: 318px;
  max-height: 286px;
}
