@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}
body {
  position: relative;
  font-family: "Be Vietnam Pro", sans-serif;
  .nav-logo {
    display: none;
  }
  .standard-logo {
    display: block;
  }
}
.button {
  padding-block: 12px;
  padding-inline: 32px;
  border-radius: 99vh;
  background-color: #f3603c;
  border: 0;
  outline: 0;
  color: white;
}

.flex {
  display: flex;
}
.spacing-32px {
  margin-inline: 32px;
}
.spacing-24px {
  margin-inline: 24px;
}
.spacing-16px {
  margin-inline: 16px;
}
.left-spacing-16px {
  margin-left: 16px;
}
.right-spacing-16px {
  margin-right: 16px;
}

nav {
  .nav-wrapper {
    margin: 45px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-desktop-button {
    display: none;
  }
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-mobile.active {
    display: block;
    position: absolute;
    top: 103px;
    left: 0;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      list-style: none;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }
}
body.active {
  overflow-y: hidden;
  height: 100vh;
  background-color: black;

  .nav-logo {
    display: block;
  }
  .standard-logo {
    display: none;
  }
}

.burger-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  outline: 0;
  border: 0;
  .burger-bars,
  .burger-bars:after,
  .burger-bars::before {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 50px;
  }
  .burger-bars:after,
  .burger-bars::before {
    content: "";
    position: absolute;
    left: 0;
    transition: transform ease-in-out 220ms;
  }
  .burger-bars:after {
    transform: translateY(-6px);
  }
  .burger-bars::before {
    transform: translateY(6px);
  }
  // Animations
  .burger-bars.active {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .burger-bars.active::before {
    transform: rotate(45deg) translate(35px, -35px);
    background-color: white;
  }
  .burger-bars.active::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background-color: white;
  }
}
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .ilustration-intro {
    content: url(/images/illustration-intro.svg);
    max-width: 318px;
    max-height: 286px;
  }
  .hero-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 36px;
      line-height: 125%;
    }
    p {
      margin: 16px;
      font-size: 14px;
      font-weight: 400;
      line-height: 200%;
      color: #242d52;
      opacity: 0.5;
      margin-bottom: 29px;
    }
  }
}

.difference {
  margin-top: 93px;
  .difference-main {
    margin-bottom: 54px;
    text-align: center;
    h2 {
      font-size: 30px;
      line-height: 150%;
    }
    p {
      margin: 16px;
      font-size: 14px;
      font-weight: 400;
      line-height: 200%;
      color: #242d52;
      opacity: 0.5;
    }
  }
  .difference-article {
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 200%;
      color: #242d52;
      opacity: 0.5;
    }
    .flex {
      align-items: center;
      background-color: #fff0ec;
      border-radius: 99vh 0px 0px 99vh;
      gap: 1rem;

      h3 {
        font-size: 14.5px;
        font-weight: 700;
        color: #242d52;
      }

      span {
        padding: 8px 24px 8px 24px;
        background-color: #f3603c;
        border-radius: 99vh;

        color: white;
      }
    }
  }
}
.carousel-container {
  margin-top: 62px;
  h2 {
    text-align: center;
    font-size: 32px;
    line-height: 150%;
    font-weight: 700;
    color: #242d52;
  }
  .button-container {
    margin-bottom: 42px;
  }
  .carousel-slide {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    text-align: center;

    img {
      width: 72px;
      height: 72px;
      transform: translate(0%, -50%);
    }
    .carousel-text {
      padding-inline: 21px;
      padding-bottom: 42px;
      h4 {
        font-size: 16px;
        line-height: 23px;
      }
      p {
        font-size: 14px;
        line-height: 200%;
        color: #242d52;
        opacity: 0.5;
      }
    }
  }
}
.mobile-carousel-indicator {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5px;
  margin-top: 26px;
  margin-bottom: 42px;
  .dot {
    height: 7px;
    width: 7px;
    border: 1px solid #f3603c;
    border-radius: 50%;
  }
}

.background-orange {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f3603c;
  height: 50vh;
  color: white;

  h2 {
    font-size: 36px;
    line-height: 125%;
    font-weight: 700;
  }
  .flex {
    flex-direction: column;
    gap: 29px;
    justify-content: center;
    align-items: center;
  }

  button {
    padding-block: 12px;
    padding-inline: 32px;
    border-radius: 99vh;
    background-color: white;
    border: 0;
    outline: 0;
    color: #f3603c;
  }
}
footer {
  padding-top: 51px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: #1d1e25;
  height: 100%;
  p {
    text-align: center;
    color: white;
    opacity: 0.5;
  }
  .submit {
    display: flex;
    gap: 8px;
    input {
      padding-block: 12px;
      padding-inline: 32px;
      border-radius: 99vh;
      background-color: white;
      border: 0;
      outline: 0;
    }
  }

  .footer-nav {
    gap: 6rem;
    justify-content: center;
    color: white;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin-block: 54px;
      gap: 1rem;
    }
  }
  .social-media-icons {
    gap: 2rem;
    margin-bottom: 54px;
    justify-content: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
  }
}

// Media queries

@media screen and (min-width: 1000px) {
  .burger-btn {
    display: none;
  }
  nav {
    .nav-desktop-button {
      display: block;
    }
    .nav-desktop {
      display: flex;
      list-style: none;
      gap: 2rem;
    }
  }
  .hero {
    flex-direction: row-reverse;
    gap: 9rem;

    .ilustration-intro {
      content: url(/images/illustration-intro.svg);
      max-width: 540px;
      max-height: 485px;
    }
    .hero-text {
      text-align: left;
      align-items: flex-start;
      gap: 1rem;

      h1 {
        font-size: 36px;
        line-height: 125%;
      }
      p {
        max-width: 350px;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 200%;
        color: #242d52;
        opacity: 0.5;
        margin-bottom: 29px;
      }
    }
  }
}
